In [4]:
import pandas as pd

# Import CSV file into DataFrame
df = pd.read_csv("https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/customers/customers-100.csv")
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [7]:
# Import Excel sheet into DataFrame
df = pd.read_excel("airline.xls", sheet_name="Sheet1")
df.head()

   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574

In [9]:
# Import JSON file into DataFrame
df = pd.read_json("sample1.json")
print(df)

    Name  Age     Location
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago

In [13]:
import sqlite3
# Create a SQLite database
conn = sqlite3.connect("data.db")

# Create a "people" table
create_table_query = """
CREATE TABLE people (
    Name TEXT,
    Age INTEGER,
    Location TEXT
)
"""
conn.execute(create_table_query)

# Insert some sample data
sample_data = [
    ("Alice", 25, "New York"),
    ("Bob", 30, "Los Angeles"),
    ("Carol", 22, "Chicago")
]
insert_query = "INSERT INTO people (Name, Age, Location) VALUES (?, ?, ?)"
conn.executemany(insert_query, sample_data)

# Commit changes and close the connection
conn.commit()
conn.close()

# Reconnect to the database and query the table using pandas
conn = sqlite3.connect("data.db")
query = "SELECT * FROM people"
df = pd.read_sql(query, conn)
print(df)

# Close the connection
conn.close()

    Name  Age     Location
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago

In [14]:
import pandas as pd

# Import HTML table into DataFrame
tables = pd.read_html("data.html")
df = tables[0]  # Assuming the table you want is the first one
print(df)

    Name  Age     Location
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago

In [15]:
# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Carol'],
        'Age': [25, 30, 22],
        'Location': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Save DataFrame to pickle file
df.to_pickle("data.pkl")

In [16]:
# Import DataFrame from pickle file
imported_df = pd.read_pickle("data.pkl")
print(imported_df)

    Name  Age     Location
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Carol   22      Chicago