In [1]:
import pandas as pd

# Creating a Series from a list
data = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data)
print(series_from_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# Creating a Series from a dictionary
data_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

a    10
b    20
c    30
d    40
dtype: int64

In [3]:
# Creating a Series with custom index
data = [2.5, 4.7, 6.2, 8.1]
custom_index = ['first', 'second', 'third', 'fourth']
series_with_index = pd.Series(data, index=custom_index)
print(series_with_index)

first     2.5
second    4.7
third     6.2
fourth    8.1
dtype: float64

In [4]:
# Accessing elements in a Series
print(series_with_index['second'])  #using column name
print(series_with_index[1])        #using index of dataframe

4.7
4.7

In [5]:
# Performing operations on a Series
series1 = pd.Series([1, 2, 3, 4])
series2 = pd.Series([10, 20, 30, 40])
sum_series = series1 + series2

In [6]:
sum_series

0    11
1    22
2    33
3    44
dtype: int64

In [11]:
# Creating a Series for demonstration
data=[10,20,30,40,50]
series = pd.Series(data)

# Accessing multiple elements using index slicing
subset = series[1:4]
print(subset)

1    20
2    30
3    40
dtype: int64

In [17]:
# Checking for presence of values
print(10 in series.values)  # Output: True
print(25 in series.values)  # Output: False

True
False

In [19]:
# Checking for presence of values using isin()
print(series.isin([20]))

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [20]:
# Getting descriptive statistics
print(series.mean())  
print(series.max())   
print(series.min())   
print(series.std())

30.0
50
10
15.811388300841896

In [21]:
# Applying mathematical functions
result = series.apply(lambda x: x ** 2)
print(result)

0     100
1     400
2     900
3    1600
4    2500
dtype: int64

In [22]:
# Filtering based on conditions
filtered = series[series > 25]
print(filtered)

2    30
3    40
4    50
dtype: int64

In [23]:
# Element-wise arithmetic operations
added = series + 5
multiplied = series * 2
print(added)

print(multiplied)

0    15
1    25
2    35
3    45
4    55
dtype: int64
0     20
1     40
2     60
3     80
4    100
dtype: int64

In [24]:
# Handling missing values (NaN)
data_with_nan = pd.Series([1, 2, None, 4, 5])
print(data_with_nan)

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [26]:
# Creating two Series
series1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
series2 = pd.Series([5, 10, 15], index=['b', 'c', 'd'])

# Merging Series
merged = series1.combine_first(series2)
print(merged)

a    10.0
b    20.0
c    30.0
d    15.0
dtype: float64

In [27]:
# Creating a Series with categorical data
categorical_data = pd.Categorical(['apple', 'banana', 'apple', 'banana', 'orange'])
categorical_series = pd.Series(categorical_data)

# Getting category counts
category_counts = categorical_series.value_counts()
print(category_counts)

banana    2
apple     2
orange    1
dtype: int64

In [29]:
import pandas as pd

# Creating a Series
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 30, 40, 50]}
series = pd.DataFrame(data)
series
# Grouping and applying aggregation
grouped = series.groupby('Category')['Value'].mean()
print(grouped)

Category
A    30
B    30
Name: Value, dtype: int64